.statBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        font-size: 18px;
        font-family: 'Poppins';
        margin: 0;
        color: white;
    }
    p{
        font-size: 22px;
        font-family: 'Poppins';
        display: flex;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 2px;
        color: white;
        span{
            font-size: 22px;
            margin: 0;
            font-family: 'Poppins';
            color: white;
        }
    }
}